/*  src/Projets.css  */
.Projets {
  box-sizing: border-box;
  width: 100%;
  background-color: #e7eeff;
  min-height: 5vh;
  font-size: calc(8px + 1vmin);
  color: black;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.article {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 3%;
}

.logo {
  width: 100px;
  height: 100px;
}

.logo-qrcode {
  width: 200px;
  height: 200px;
}

.logo-display {
  display: flex;
  justify-content: space-evenly;
  padding-top: 3%;
}

.logo-display-little {
  display: flex;
  justify-content: center;
}

.imgvideotmp {
  padding: 3%;
  width: 75%;
}

.flashcode {
  width: 30%;
}

.video {
  width: 70%;
}

.article-one {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
