/*  src/Projets.css  */
.Projets {
  box-sizing: border-box;
  width: 100%;
  background-color: #e7eeff;
  min-height: 5vh;
  font-size: calc(8px + 1vmin);
  color: black;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.article {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 3%;
}

.article-row {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  padding: 3%;
}

.logo {
  color: black;
  padding-left: 3%;
  padding-right: 3%;
}

.petit-logo {
  width: 250px;
  height: 250px;
}

.logo-display {
  display: flex;
  justify-content: space-evenly;
  padding-top: 3%;
  font-size: 3rem;
}

.logo-display-little {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.imgvideotmp {
  padding: 3%;
  width: 75%;
}

.flashcode {
  width: 30%;
}

.video {
  width: 70%;
}

.article-one {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
}

.article-two {
  width: 50%;
  margin: 3%;
}

.margin {
  margin: 3em;
}

.book {
  height: fit-content;
  background-color: white;
  padding: 2%;
  margin: 1%;
}

.petit-livre {
  height: 12em;
}

.content-book {
  width: 70%;
}

.content-img-book {
  display: flex;
  justify-content: space-around;
}

.btn {
  padding: 1%;
  margin: 3%;
  background-color: #1f3e8b;
  color: white;
  font-size: medium;
  width: 10%;
}

.right {
  display: flex;
  justify-content: right;
  align-items: flex-end;
}
