/*  src/Presentation.css  */
.Presentation {
  box-sizing: border-box;
  width: 100%;
  background-color: #e7eeff;
  min-height: 5vh;
  font-size: calc(8px + 1vmin);
  color: black;
}

.presentation-content {
  padding: 3%;
}

.change-pres {
  background-color: white;
  padding: 10px;
}

.collapse {
  color: #1f3e8b;
  font-weight: bold;
  cursor: pointer;
}
