/*  src/Presentation.css  */
.Presentation {
  box-sizing: border-box;
  width: 100%;
  background-color: #e7eeff;
  min-height: 5vh;
  font-size: calc(8px + 1.5vmin);
  color: black;
}

.presentation-content {
  padding: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.change-pres {
  background-color: white;
  padding: 10px;
}

.collapse {
  color: #1f3e8b;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
  background: white;
}

.photo-pres {
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo {
  width: 30%;
  padding: 3%;
}
