.Footer {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f3e8b;
  min-height: 10vh;
  font-size: calc(8px + 1vmin);
  color: white;
  position: relative;
  bottom: 0;
  flex-direction: column;
}

.Footer-Links {
  width: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75%;
}

.Links {
  display: flex;
  color: white;
  text-decoration: none;
  justify-content: space-around;
}
