/*  src/Header.css  */
.Header {
  box-sizing: border-box;
  background-color: #1f3e8b;
  min-height: 5vh;
  font-size: calc(8px + 1vmin);
  color: white;
}

.Up-Header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.Header-Title {
  padding: 2%;
}

.Down-Header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.Menu-Header {
  background-color: white;
  color: black;
}

.Search {
  width: 10%;
  background-color: rgb(206, 206, 206);
  color: black;
  border-color: #598b1f;
}

.Header-logo {
  height: 15vmin;
  pointer-events: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3%;
}

.menu-btn {
  font-size: 2rem;
  cursor: pointer;
  margin: 10px;
  border-width: 0;
  background-color: white;
}

.nav {
  display: flex;
  gap: 1rem;
}

.Link {
  color: white;
  text-decoration: none;
}
