/*  src/Header.css  */
.Header {
  background-color: #1f3e8b;
  min-height: 3vh;
  font-size: calc(8px + 1vmin);
  color: white;
}

.Up-Header {
  width: 100%;
  margin-left: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header-Title {
  font-family: "Satisfy", cursive;
  font-size: 4em;
}

.Header-Subtitle {
  font-size: 1.25em;
}

.Down-Header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.Menu-Header {
  background-color: white;
  color: black;
}

.Search {
  width: 10%;
  background-color: rgb(206, 206, 206);
  color: black;
  border-color: #598b1f;
}

.Header-logo {
  height: 10em;
  pointer-events: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em;
}

.menu-btn {
  font-size: 2rem;
  cursor: pointer;
  margin: 10px;
  border-width: 0;
  background-color: white;
}

.Link {
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.Links {
  display: flex;
  color: white;
  text-decoration: none;
  justify-content: space-around;
}

.Header-Links {
  width: 30%;
  display: flex;
  justify-content: space-between;
}
