/*  src/Header.css  */
.Header {
  box-sizing: border-box;
  background-color: #1f3e8b;
  min-height: 5vh;
  font-size: calc(8px + 1vmin);
  color: white;
}

.Up-Header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.Header-Title {
  width: 90%;
}

.Down-Header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.Menu {
  width: 10%;
  background-color: rgb(204, 204, 204);
  color: black;
}

.Search {
  width: 10%;
  background-color: rgb(206, 206, 206);
  color: black;
  border-color: #598b1f;
}

.Header-logo {
  height: 15vmin;
  pointer-events: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-btn {
  font-size: 1.5rem;
  cursor: pointer;
}

.nav {
  display: flex;
  gap: 1rem;
}

.app-menu {
  color: white;
  height: 100vh;
  width: 30rem;
  background-color: #1f3e8b;
  z-index: 200;

  transform: translateX(-100%);
  transition: 0.3s;

  position: fixed;
  left: 0;
  top: 0;

  display: flex;
  justify-content: center;
}

.menu-open {
  transform: translateX(0%);
}
