.Admin {
  text-align: left;
}

.Admin-link {
  color: #ffffff;
}

.Logo {
  width: 30px;
  height: 30px;
}

.Big-Logo {
  height: 15vmin;
  border-radius: 50%;
  padding-top: 7%;
}

.Admin-Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form-auth-admin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.btn {
  padding: 1%;
  margin: 3%;
  background-color: #1f3e8b;
  color: white;
  font-size: medium;
  width: 10%;
}

.input-form {
  width: 25%;
  font-size: medium;
  margin: 1%;
}
