.App {
  text-align: left;
}

.App-link {
  color: #ffffff;
}

.Logo {
  width: 30px;
  height: 30px;
}

.Big-Logo {
  height: 15vmin;
  border-radius: 50%;
  padding-top: 7%;
}

.App-Main {
  display: flex;
}

.collapse {
  color: #1f3e8b;
  font-weight: bold;
  cursor: pointer;
  margin: 10px;
  padding: 10px;
  background: white;
}
