.Actualites {
  box-sizing: border-box;
  width: 100%;
  background-color: #e7eeff;
  min-height: 5vh;
  font-size: calc(8px + 1.5vmin);
  color: black;
}

.actualite-content {
  padding: 3%;
}

/* custom */
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

textarea {
  width: 85%;
  resize: none;
  margin: 10px;
  height: 7rem;
}

input {
  margin: 10px;
  width: 50%;
}

::placeholder {
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
}

/* modification */
.add-actu {
  background-color: white;
  padding: 10px;
}

.div-btn {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  padding-right: 3%;
}

.CRUD-btn {
  font-size: 1.5rem;
  cursor: pointer;
  margin: 10px;
  border-width: 1;
  background-color: #e7eeff;
  border-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.change-actu {
  background-color: white;
  padding: 10px;
}
