/*  src/Agenda.css  */
.Agenda {
  box-sizing: border-box;
  width: 100%;
  background-color: #e7eeff;
  min-height: 5vh;
  font-size: calc(8px + 1.5vmin);
  color: black;
}

.agenda-content {
  padding: 3%;
}

.add-event {
  background-color: white;
  padding: 10px;
}

.div-btn {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  padding-right: 3%;
}

.CRUD-btn {
  font-size: 1.5rem;
  cursor: pointer;
  margin: 10px;
  border-width: 1;
  background-color: #e7eeff;
  border-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.agenda-day-by-day {
  padding: 20px;
  display: flex;
  align-items: center;
}

h2.agenda-day-by-day {
  width: 25%;
  font-size: 2rem;
}
