/*  src/Agenda.css  */
.Agenda {
  box-sizing: border-box;
  width: 100%;
  background-color: #e7eeff;
  min-height: 5vh;
  font-size: calc(8px + 1vmin);
  color: black;
}

.agenda-content {
  padding: 3%;
}

/* modification */
.add-event {
  background-color: white;
  padding: 10px;
}

.div-btn {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  padding-right: 3%;
}

.CRUD-btn {
  font-size: 1.5rem;
  cursor: pointer;
  margin: 10px;
  border-width: 1;
  background-color: #e7eeff;
  border-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
